<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatter</title>
</head>
<body style="margin: 40px;">
    <h2>산점도</h2>
    <hr>
    <form action="/scatter" method="post">
        num: <input type="number" name="num"><br><br>   <!--input type="number"는 int타입이라는 말이 아니라, 숫자를 넣을때 화살표로 정할수 있게하는 것임!-->
        min: <input type="number" name="min"><br><br>
        max: <input type="number" name="max"><br><br>
        mean: <input type="number" name="mean"><br><br>
        std: <input type="number" name="std"><br><br>
        <input type="submit" value="제출">
    </form>    
</body>
</html>